#home
  .container
    .row
      .col-xs-12.text-center
      %h1 Welcome to Prium libraries
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            Books
          .panel-body
            %ul
              %li bla
              %li bla
              %li bla
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            Users
          .panel-body
            %ul
              %li bla
              %li bla
              %li bla

