#book-info
  .container.padded
    .row
      .col-xs-12
        = link_to "Back to all books", books_path, class: "btn btn-success"
    .row
      .col-xs-12
        %h1
          = @book.title
          %small
            by
            = @book.author
    - if !!@book.summary
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              %h2 Summary
            .panel-body
              %p = @book.summary
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            %h3 Status
          .panel-body
            - if @book.on_loan?
              - customer = @book.current_outstanding_loan.customer
              On loan:
              = link_to display_name(customer), customer_path(customer)
            - else
              Available

